.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  .text_en {
    font-family: shackleton, serif;
  }
  .text_ko {
    font-family: "Hahmlet", serif;
    font-weight: 600;
  }
  p {
    font-size: 0.8rem;
  }
}
.candle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 300px;
  // background-color: #dcff00;
  margin: 2rem 0 0;
  p {
    width: 300px;
    background-color: #dcff00;
    font-size: 0.8rem;
    text-align: center;
    color: #dcff00;
  }
}
.colors {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2rem;
  li {
    list-style: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
  }
}
