.title {
  text-align: center;

  .text_en {
    font-family: shackleton, serif;
    color: #e9bc00;
  }
  .text_ko {
    font-family: "Hahmlet", serif;
    font-weight: 500;
    color: #e9bc00;
  }
  .title_desc {
    margin: 10px 0 0;
  }
}
