.container {
  margin: 2rem 0 0;
  .title {
    text-align: center;
    // margin: 0 0 2rem;

    .text_en {
      font-family: shackleton, serif;
      color: #e9bc00;
    }
    .text_ko {
      font-family: "Hahmlet", serif;
      font-weight: 500;
      color: #e9bc00;
    }
    .title_desc {
      margin: 10px 0 0;
    }
  }

  .img_desc {
    font-size: 0.8rem;
    text-align: center;
    color: #e9bc00;
    margin: 20px 0;
  }
  .altar_img {
    border: 1px solid #e9bc00;
  }

  .bottom_candle_container {
    // width: 100%;
    // height: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px solid #e9bc00;
    // cursor: pointer;
    // margin: 2rem 0;
    .merged_container {
      display: none;
      position: absolute;
      background-color: #2a3e34;
      width: 300px;
      height: 300px;
    }
    .bottom_container {
      width: 300px;
      height: 300px;
      list-style: none;
      opacity: 0.5;
    }
    .candle_container {
      width: 260px;
      height: 260px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 90;
    }
    .items_container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .items {
        list-style: none;
        position: absolute;
        .items_canvas {
          width: 120px;
          height: 120px;
        }
      }
      .items:first-child {
        top: 10px;
        left: 10px;
      }
      .items:nth-child(2) {
        top: 10px;
        right: 10px;
      }
      .items:nth-child(3) {
        bottom: 10px;
        left: 10px;
      }
      .items:last-child {
        bottom: 10px;
        right: 10px;
      }
    }
  }
  .description {
    text-align: center;
    margin: 1rem 0 0;
  }
}

.btns {
  // background-color: #e9bc00;
  display: flex;
  justify-content: space-around;
  width: 300px;
  .btn {
    // width: 100%;
    margin: 1rem 0;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 999px;
    background-color: #e9bc00;
    color: #1c2b00;
    font-family: "Hahmlet", serif;
    font-size: 0.9rem;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
  }
}
.bg_canvas {
  display: none;
}
