.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  // background-color: red;

  .title_ko {
    font-family: "Hahmlet", serif;
    font-size: 18px;
  }
  .title_en {
    font-family: shackleton, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
  }
}
